body
{
    margin: 0;
    padding: 0;
    color: #666;
    font-family: sans-serif, Arial, Verdana;
    font-size: 15px;
    line-height: 1.3;
    background: #D3D3D3;
}

.adminHeader
{
    padding: 25px;
    padding-top: 10px;
    box-sizing: border-box;
    text-align: center;
}

nav
{
    background: #D3D3D3;
    color: black;
    
}

nav ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
nav li
{
    display: inline-block;
    background-color: white;
}

nav a
{
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    border-style: solid;
    border-color: black;
    font-weight: bold;
    color: black;
    transition: background 0.3s;
    
}

nav a:hover
{
    background: #1E90FF;
}

h2
{
    color: #333333;
}

.container
{
    margin: auto;
}

main
{
    padding-top: 75px;
}

table
{
    width: 100%;
    border-collapse: collapse;
}

tr
{
    margin-bottom: 10px;
}

td
{
    background: white;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border-style: solid;
}

.image img
{
    width: 5%;
    height: 5%;
    padding-left: 800px;
}

.nev
{
    display: inline-block;
    background: white;
    color: black;
    padding: 13px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    border-style: solid;
}

.leiras
{
    display: inline-block;
    background: white;
    color: black;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    border-style: solid;
}

.ar
{
    display: inline-block;
    background: white;
    color: black;
    padding: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    border-style: solid;
}
